@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="BandList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LibraryMusic">BandList</MudNavLink>
    <MudNavLink Href="CreateBand" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ControlPoint">Start Your Musical Legacy!</MudNavLink>
    <MudNavLink Href="BandsManagement" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build">Bands Management</MudNavLink>
    <MudNavLink Href="FestivalList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LibraryMusic">FestivalList</MudNavLink>
    <MudNavLink Href="CreateFestival" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ControlPoint">Want to host a Festival?</MudNavLink>
    <MudNavLink Href="FestivalManagement " Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Build">Festival Management</MudNavLink>

    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account/Manage">
                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                    <button type="submit" class="nav-link">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="Account/Register">
                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="Account/Login">
                    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                </MudNavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    
    </MudNavMenu>

    @code {
        private string? currentUrl;

        protected override void OnInitialized()
        {
            currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.LocationChanged += OnLocationChanged;
        }

        private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
        {
            currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
            StateHasChanged();
        }

        public void Dispose()
        {
            NavigationManager.LocationChanged -= OnLocationChanged;
        }

    }
