@page "/FestivalManagement"
@using MyApplication.Repositories
@using MudBlazor
@using MyApplication.Entities
@using MyApplication.Enums
@using MyApplication.Interfaces

@inject IRepositoryFestival RepositoryFestival 

<h3>CreateFestival</h3>

<MudCard>
    <MudForm Model="@Festival">
        <MudCardContent>
            <MudTextField @bind-Value="@Festival.Name"
                          Label="Name"
                          Immediate="true">
            </MudTextField>
            <MudTextField @bind-Value="@Festival.Description"
                          Label="Description"
                          Immediate="true">
            </MudTextField>
            <MudTextField @bind-Value="@Festival.Location"
                          Label="Location"
                          Immediate="true">
            </MudTextField>
            <MudDatePicker Label="StartDate" @bind-Date="@Festival.StartDate" ShowToolbar="false" />
            <MudDatePicker Label="EndDate" @bind-Date="@Festival.EndDate" ShowToolbar="false" />
            
            <MudButton Variant="Variant.Filled" @onclick="AddFestival">Create Your Festival!</MudButton>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {

    public Festival Festival { get; set; } = new Festival()
    {
        Name = string.Empty,
        Description = string.Empty,
        Location = string.Empty,
        StartDate = DateTime.Now,
        EndDate = DateTime.Now,
    };
	
    private async Task AddFestival()
    {
        try
        {
            await RepositoryFestival.AddASync(Festival);
            await RepositoryFestival.SaveChangesAsync(Festival);

            Festival = new Festival() { Name = "", Description = "", Location = "", StartDate = DateTime.Now, EndDate = DateTime.Now};
            
            Festivals = (await RepositoryFestival.GetAllAsync()).ToList();
            FestivalsExist = Festivals.Any();
            StateHasChanged();
            
            ShowAlert = true;
            AlertMessage = $"Created festival '{Festival.Name}' successfully.";
            AlertSeverity = Severity.Success;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding Festival: {ex.Message}");
        }
    }

}

<h3>FestivalTable</h3>

@if (!FestivalsExist)
{
    <h4>There are no Festivals! Please contact an admin and tell him/her to do his/her job!</h4>
}
else
{
    @if (ShowAlert)
    {
        <MudAlert Severity="@AlertSeverity"
                  Elevation="0"
                  Dense="true"
                  Variant="Variant.Filled"
                  OnClose="() => ShowAlert = false">
            @AlertMessage
        </MudAlert>
    }
    <MudTable Items="@Festivals.Take(4)" Filter="@FilterFunction">
        <ToolBarContent>
            <MudTextField @bind-Value="_searchString" Placeholder="Search Festival" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Nr</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Location</MudTh>
            <MudTh>StartDate</MudTh>
            <MudTh>EndDate</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Id</MudTd>

            <MudTd DataLabel="Name">
                @if (EditingFestival == context)
                {
                    <MudTextField @bind-Value="context.Name" Immediate="true"/>
                }
                else
                {
                    @context.Name
                }
            </MudTd>

            <MudTd DataLabel="Description">
                @if (EditingFestival == context)
                {
                    <MudTextField @bind-Value="context.Description" Immediate="true"/>
                }
                else
                {
                    @context.Description
                }
            </MudTd>
            
            <MudTd DataLabel="Location">
                @if (EditingFestival == context)
                {
                    <MudTextField @bind-Value="context.Location" Immediate="true"/>
                }
                else
                {
                    @context.Location
                }
            </MudTd>
            
            <MudTd DataLabel="StartDate">
                @if (EditingFestival == context)
                {
                    <MudDatePicker Label="StartDate" @bind-Date="@Festival.StartDate" ShowToolbar="false" />
                }
                else
                {
                    @context.StartDate
                }
            </MudTd>
            
            <MudTd DataLabel="EndDate">
                @if (EditingFestival == context)
                {
                    <MudDatePicker Label="EndDate" @bind-Date="@Festival.EndDate" ShowToolbar="false" />
                }
                else
                {
                    @context.EndDate
                }
            </MudTd>

            <MudTd>
                @if (EditingFestival == context)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="() => SaveEdit(context)"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Secondary" OnClick="CancelEdit"/>
                }
                else
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="() => StartEdit(context)"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeleteFestival(context)"/>
                }
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code { 
    private IEnumerable<Festival> Festivals= new List<Festival>();
    
    private string? AlertMessage;
    private Severity AlertSeverity;
    private bool ShowAlert;

    bool FestivalsExist = false;
    private string _searchString = "";

    private Festival? EditingFestival;
    
    protected override async Task OnInitializedAsync()
    {
        Festivals = (await RepositoryFestival.GetAllAsync()).ToList();
        FestivalsExist = Festivals.Any();

    }
    
    private bool FilterFunction(Festival festival)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        return festival.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase);
    }
    
    private async Task DeleteFestival(Festival festival)
    {
        try
        {
            RepositoryFestival.Delete(festival);
            await RepositoryFestival.SaveChangesAsync(festival);

            Festivals = (await RepositoryFestival.GetAllAsync()).ToList();
            StateHasChanged();
            
            ShowAlert = true;
            AlertMessage = $"Deleted Festival '{festival.Name}' successfully.";
            AlertSeverity = Severity.Success;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting festival: {ex.Message}");
        }
    }

    private void StartEdit(Festival festival)
    {
        EditingFestival = festival;
    }

    private void CancelEdit()
    {
        EditingFestival = null;
    }

    private async Task SaveEdit(Festival festival)
    {
        RepositoryFestival.Update(festival);
        await RepositoryFestival.SaveChangesAsync(festival);

        EditingFestival = null;

        ShowAlert = true;
        AlertMessage = $"Updated festival '{festival.Name}' successfully.";
        AlertSeverity = Severity.Success;

        StateHasChanged();
    }
}